<ul>
    <li>
        <a href="#">
            <span class="icon">
                <img src="https://lh3.googleusercontent.com/d/1JMvtlyVghkBICG39y1iF6sVD196YXmAm" alt="Logo"
                    class="nav-logo"
                    onerror="this.onerror=null; this.src='https://drive.google.com/uc?export=view&id=1JMvtlyVghkBICG39y1iF6sVD196YXmAm'">
            </span>
            <span class="title" style="font-weight: 700; color: var(--accent-gold);">Formulation
                Pro</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link active" data-page="dashboard">
            <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
            <span class="title">Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" data-page="browse">
            <span class="icon"><ion-icon name="search-outline"></ion-icon></span>
            <span class="title">Browse</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" data-page="compare">
            <span class="icon"><ion-icon name="git-compare-outline"></ion-icon></span>
            <span class="title">Compare</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" data-page="request">
            <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
            <span class="title">Request</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" data-page="settings">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Settings</span>
        </a>
    </li>

    <!-- Category Group: Formulation -->
    <li class="nav-header collapsible collapsed" onclick="toggleNavGroup('formulation', this)">
        <span class="icon"><ion-icon name="file-tray-full-outline"></ion-icon></span>
        <span class="title">Formulation</span>
        <ion-icon name="chevron-down-outline" class="group-arrow"></ion-icon>
    </li>
    <li class="nav-item group-formulation" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="cosmetic">
            <span class="icon"><ion-icon name="flask-outline"></ion-icon></span>
            <span class="title">Cosmetic</span>
        </a>
    </li>
    <li class="nav-item group-formulation" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="perfume">
            <span class="icon"><ion-icon name="color-filter-outline"></ion-icon></span>
            <span class="title">Perfume</span>
        </a>
    </li>
    <li class="nav-item group-formulation" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="foodsupplement">
            <span class="icon"><ion-icon name="medkit-outline"></ion-icon></span>
            <span class="title">Food Supplement</span>
        </a>
    </li>

    <!-- Category Group: Sample -->
    <li class="nav-header collapsible collapsed" onclick="toggleNavGroup('sample', this)">
        <span class="icon"><ion-icon name="flask-outline"></ion-icon></span>
        <span class="title">Sample</span>
        <ion-icon name="chevron-down-outline" class="group-arrow"></ion-icon>
    </li>
    <li class="nav-item group-sample" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="sample-cosmetic">
            <span class="icon"><ion-icon name="beaker-outline"></ion-icon></span>
            <span class="title">S-Cosmetic</span>
        </a>
    </li>
    <li class="nav-item group-sample" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="sample-perfume">
            <span class="icon"><ion-icon name="rose-outline"></ion-icon></span>
            <span class="title">S-Perfume</span>
        </a>
    </li>
    <li class="nav-item group-sample" style="display: none;">
        <a href="#" class="nav-link formula-item" data-page="sample-foodsupplement">
            <span class="icon"><ion-icon name="nutrition-outline"></ion-icon></span>
            <span class="title">S-Food Supp</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="/logout">
            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="title">Sign Out</span>
        </a>
    </li>
</ul>